.android/
.git/
.stfolder/
Android Open Source Project/
Code - OSS/
GIMP/
Google/
Portmaster/
R/
RStudio/
Thunar/
VSCodium/
WebCord/
cef_user_data/
dconf/
discord/
evolution/
goa-1.0/
gtk-3.0/bookmarks
ibus/
jamesdsp/
kde.org/
keepassxc/
lazygit/
libreoffice/
libvirt/
matplotlib/
mpv/
nautilus/
obs-studio/
obsidian/
procps/
pulse/
qt-virt-manager/
rncbc.org/
rstudio/
session/
smplayer/
spicetify/Backup/
spicetify/CustomApps/
spicetify/Extensions/
spicetify/Extracted/
spicetify/Themes/
spotify/
syncthing/
viewnior/
virt-viewer/
vivaldi/
vlc/
xfce4/
yay/
.gsd-keyboard.settings-ported
.stignore
QtProject.conf
baloofilerc
calligrarc
calligrasheetsrc
connections.db
dleyna-renderer-service.conf
dolphinrc
emaildefaults
harunarc
mimeapps.list
user-dirs.dirs
user-dirs.locale
nvim/undodir/
zsh/.zcompdump*
BetterDiscord/
composer/
.emacs.d/undo-tree/
.emacs.d/transient/
.emacs.d/straight/
.emacs.d/elpa/
.emacs.d/eln-cache/
.emacs.d/projectile-bookmarks.eld
.emacs.d/.lsp-session-v1
.emacs.d/init.el~
/.emacs.d/.dap-breakpoints
/.emacs.d/auto-save-list/
/.emacs.d/projects
